.menu.is-active {
    height: 95%;
}

@media screen and (min-width: 1024px) {
    html, body {
        width: 100%;
        height: 100%;
    }
    .wrapper {
        display: grid;
        grid-template-areas: "navbar navbar"
                             "menu main"
                             "menu footer";
        height: 100%;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 60px 1fr 40px;
    }

    .navbar {
        grid-area: navbar;
        padding: calc(var(--padding) + 0.5em);
    }

    .navbar .toggle {
        display: none;
    }

    .navbar .search {
        display: block;
        width: 500px;
    }

    .search input {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border: 1px solid #f3f3f3;
        background-color: #fff;
        border-radius: 6px;
    }

    .search input:focus {
        outline:1px solid #f1f1f1;
    }

    .menu {
        grid-area: menu;
        display: block;
        height: 100%;
    }

    .main {
        grid-area: main;
    }
    .footer {
        grid-area: footer;
    }

    .navbar-left {
        gap: 80px;
    }
}