/* Variables */
@import 'variables.css';
@import 'minireset.css';
/* Fin Variables */

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  color: var(--text);
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: var(--primary);
  color: #fff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid var(--border);
}

tr:nth-child(even) {
  background: var(--bg-color-shadow);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary);
}

table tbody tr.active {
  font-weight: bold;
  color: var(--primary);
}

/**

@media (min-width: 720px) {

}
@media (min-width: 1024px) {

}

*/
